<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<dict>
			<key>Name</key>
			<string>蔡子怡</string>
			<key>Gender</key>
			<string>女</string>
			<key>Age</key>
			<string>22</string>
			<key>Phone</key>
			<string>15537149303</string>
			<key>Photo</key>
			<string>czy.png</string>
			<key>Motto</key>
			<string>今天比昨天好,就是希望</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>陈锋</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15515252670</string>
			<key>Photo</key>
			<string>cf.png</string>
			<key>Motto</key>
			<string>A contented mind is a perpetual feast</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>Name</key>
			<string>党军伟</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>18224533838</string>
			<key>Photo</key>
			<string>djw.png</string>
			<key>Motto</key>
			<string>真男人不解释</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>Name</key>
			<string>范迎祥</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>18236993562</string>
			<key>Photo</key>
			<string>fyx.png</string>
			<key>Motto</key>
			<string>混吃等死吧</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>范玉贞</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>18</string>
			<key>Phone</key>
			<string>18612697721</string>
			<key>Photo</key>
			<string>fyz.png</string>
			<key>Motto</key>
			<string>过年回家, 相亲 !</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>Name</key>
			<string>郭腾御</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>18037338707</string>
			<key>Photo</key>
			<string>gty.png</string>
			<key>Motto</key>
			<string>忧伤与明媚,最爱秋之晚景,御我一生一世!</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>Name</key>
			<string>何欢庆</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>25</string>
			<key>Phone</key>
			<string>15514375891</string>
			<key>Photo</key>
			<string>hhq.png</string>
			<key>Motto</key>
			<string>天行健,君子以自强不息</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>侯炎辉</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>18937677028</string>
			<key>Photo</key>
			<string>hyh.png</string>
			<key>Motto</key>
			<string>等不到天黑烟火不会太完美, 回忆烧成灰, 还是等不到结尾!</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>Name</key>
			<string>贾帅</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>22</string>
			<key>Phone</key>
			<string>18703759570</string>
			<key>Photo</key>
			<string>js.png</string>
			<key>Motto</key>
			<string>不是还活着么</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>蒋安东</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15286826576</string>
			<key>Photo</key>
			<string>jad.png</string>
			<key>Motto</key>
			<string>你是一条狗</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>Name</key>
			<string>刘涛</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>24</string>
			<key>Phone</key>
			<string>18236927757</string>
			<key>Photo</key>
			<string>lt.png</string>
			<key>Motto</key>
			<string>地势坤,君子以厚德载物 </string>
		</dict>
		<dict>
			<key>Name</key>
			<string>李阳</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15836123888</string>
			<key>Photo</key>
			<string>ly.png</string>
			<key>Motto</key>
			<string>顺境感谢别人,逆境反省自己</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>李正炜</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>22</string>
			<key>Phone</key>
			<string>13592606515</string>
			<key>Photo</key>
			<string>lzw.png</string>
			<key>Motto</key>
			<string>every day is a  new staring.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>李翔宇</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15138918207</string>
			<key>Photo</key>
			<string>lxy.png</string>
			<key>Motto</key>
			<string>Dare to be!</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>李延朋</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>21</string>
			<key>Phone</key>
			<string>18638550296</string>
			<key>Photo</key>
			<string>lyp.png</string>
			<key>Motto</key>
			<string>恨其不争, 怒其不强 !</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>李轲</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15093182684</string>
			<key>Photo</key>
			<string>lk.png</string>
			<key>Motto</key>
			<string>He is a priate!</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>Name</key>
			<string>潘磊老师</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string></string>
			<key>Phone</key>
			<string></string>
			<key>Photo</key>
			<string>pl.png</string>
			<key>Mtto</key>
			<string></string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>Name</key>
			<string>宋克军</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15538386537</string>
			<key>Photo</key>
			<string>skj.png</string>
			<key>Motto</key>
			<string>never  say die</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>史德民</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15036152692</string>
			<key>Photo</key>
			<string>sdm.png</string>
			<key>Motto</key>
			<string>follow your heart ! fighting!</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>Name</key>
			<string>王晓</string>
			<key>Gender</key>
			<string>女</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>13673034394</string>
			<key>Photo</key>
			<string>wx.png</string>
			<key>Motto</key>
			<string>开心就好</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>王鹏鹏</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>13213084225</string>
			<key>Photo</key>
			<string>wpp.png</string>
			<key>Motto</key>
			<string>everything is possible</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>王飞飞</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>24</string>
			<key>Phone</key>
			<string>13323857977</string>
			<key>Photo</key>
			<string>wff.png</string>
			<key>Motto</key>
			<string>人，最大的敌人是自己。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>王智峰</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>22</string>
			<key>Phone</key>
			<string>18203659661</string>
			<key>Photo</key>
			<string>wzf.png</string>
			<key>Motto</key>
			<string>帅到基友嫌,高处不胜寒</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>王萌</string>
			<key>Gender</key>
			<string>女</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15160700299</string>
			<key>Photo</key>
			<string>wm.png</string>
			<key>Motto</key>
			<string>越努力, 越幸运~</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>王磊</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15617800817</string>
			<key>Photo</key>
			<string>wl.png</string>
			<key>Motto</key>
			<string>实迷途其未远, 觉今是而昨非</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>王亚兵</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15729382296</string>
			<key>Photo</key>
			<string>wyb.png</string>
			<key>Motto</key>
			<string>星月</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>Name</key>
			<string>许良</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>21</string>
			<key>Phone</key>
			<string>15090146134</string>
			<key>Photo</key>
			<string>xl.png</string>
			<key>Motto</key>
			<string>keep sleeping</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>薛东礼</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>24</string>
			<key>Phone</key>
			<string>18236925857</string>
			<key>Photo</key>
			<string>xdl.png</string>
			<key>Motto</key>
			<string>自己选择的路, 跪着也要走完！</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>熊志华</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15136262905</string>
			<key>Photo</key>
			<string>xzh.png</string>
			<key>Motto</key>
			<string>面对现实 忠于理想</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>Name</key>
			<string>张杰</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>24</string>
			<key>Phone</key>
			<string>18937130989</string>
			<key>Photo</key>
			<string>zj.png</string>
			<key>Motto</key>
			<string>所谓信念:不假外物,不浮人事,不虑得失,不究对错</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>张善兵</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>25</string>
			<key>Phone</key>
			<string>15083200249</string>
			<key>Photo</key>
			<string>zsb.png</string>
			<key>Motto</key>
			<string>一天之计在于晨</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>赵鸿宇</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15093397106</string>
			<key>Photo</key>
			<string>zhy.png</string>
			<key>Motto</key>
			<string>只要路是对的,就不怕远</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>周重阳</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>22</string>
			<key>Phone</key>
			<string>15138688844</string>
			<key>Photo</key>
			<string>zcy.png</string>
			<key>Motto</key>
			<string>你知道洛杉矶凌晨四点的样子吗</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>赵富星</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>18236993831</string>
			<key>Photo</key>
			<string>zfx.png</string>
			<key>Motto</key>
			<string>谁若不能主宰自己,谁就永远是一个奴隶</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>张靖宇</string>
			<key>Gender</key>
			<string>男</string>
			<key>Age</key>
			<string>23</string>
			<key>Phone</key>
			<string>15343712363</string>
			<key>Photo</key>
			<string>zjy.png</string>
			<key>Motto</key>
			<string>人生不打折, 我要的现在就要 --- 任性</string>
		</dict>
	</array>
</dict>
</plist>
